#product-form-section {
    padding: 20px 0;
  }
  
  .dsc-product-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .dsc-product-form-buttons {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  
  @media (min-width: 576px) {
    #product-form-section {
      padding: 40px 0;
    }
  }

  .dsc-form-error {
    color: var(--dsc-color-error);
    font-size: 12px;
    padding-left: 4px;
    display: none;
    }
    .dsc-form-control[data-invalid="true"] ~ div {
    display: unset;
    }
    .dsc-form-control[data-invalid="true"] {
    border: 1px solid var(--dsc-color-error);
    }